@using MyAlcoholShelf.Web.Models
@model System.Collections.Generic.List<MyAlcoholShelf.Web.Models.AlkoholRecipeViewModel>

@{
    ViewBag.Title = "Twoje przepisy";
    Layout = "_Layout";

}

<h2>Twoje przepisy</h2>

<a asp-action="GetAddEditView" 
   asp-controller="Recipies">
    Dodaj przepis
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th># Wersji</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model)
            {
            <text>
            <tr>
                <td>
                    @recipe.Name
                </td>
                <td>
                    @recipe.Versions.Count
                </td>
                <td>
                    <a asp-action="DeleteRecipeDefinition" asp-route-recipeDefinition="@recipe.Id">
                        Usuń przepis
                    </a>
                </td>
            </tr>
            <tr> 
                <td colspan="3">
                    <h4>Recipe versions</h4>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Data i godzina dodania</th>
                            <th>Liczba alkoholi</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var version in recipe.Versions)
                        {
                            <text>
                                <tr>
                                    <td>
                                        @version.CreatedTime.ToString()
                                    </td>
                                    <td>
                                        @version.AlkoholCount
                                    </td>
                                    <td>
                                        <a asp-action="GetAddEditView"
                                           asp-controller="Recipies"
                                           asp-route-recipeId="@version.Id">
                                            Edytuj
                                        </a>
                                        <a asp-action="DeleteRecipeVersion" asp-route-recipeId="@version.Id">
                                            Usuń wersję
                                        </a>
                                    </td>
                                </tr>
                            </text>
                        }
                        </tbody>
                    </table>
                </td>
            </tr>
            </text>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        function showModal(id) {
            $('#' + id).modal();
        }
    </script>
}
